html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;

}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    background-color: rgb(214, 231, 239);
    text-align: center;
    align-items: center;
    z-index: 1;
    
  
}
nav{
    display: flex;
    color: black;
    gap: 1.2rem;
    font-size: 1.2rem;
    margin-right: 3rem;
}
nav a{
    text-decoration: none;
    color: rgb(4, 41, 101);

}
nav a li{
    list-style: none;
}
.logo{
    width: 30%;
    height: 80%;  
    z-index: 1;
}
.logo_img{
    
    width: 30%;
    height: 100%;
}
/*  menu on mobile*/
.kibab{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 28px;
    display: none;
    cursor: pointer;
    
}
.kibab span{
    width:100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
   
}
.kibab_menu{ 
   
 top: 1px;
    background-color: rgb(205, 199, 199);
    position: absolute;
    width: 0%;
    height:100vh; 
    z-index: 10;
   right: 0;
    text-align: center;
align-items: center;
place-content: center;
background: linear-gradient(to right,rgba(53, 173, 248, 0.927),rgba(251, 251, 107, 0.84));
transition: 500ms  ease-in-out;

    
}


.cross_kibab{
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    height: 24px;
    width: 28px;
    place-self: center;
    cursor: pointer;
    background-color: aliceblue;
    top: 20px;
    left: 17px;
    display: none;
}

.cross_kibab span{
    position: absolute;
    width:2px;
    height: 100%;
    background-color: black;
    transition: all 0.3s ease-in;
    
}
.cross_kibab :nth-child(1){
    rotate: 40deg;
}
.cross_kibab :nth-child(2){
    rotate: -40deg;
}
.menu_item{

    flex-direction: column;
    color:black;
    justify-content: center;
    text-align: center;
    z-index: 6;
    margin-left: 12%;
  
}
.menu_item li{
    color: #46036d;
font-size: 28px;
font-family: sans-serif;
display: inline;
}

 
.sch_name{
    font-size: 2rem;
    padding-top: 1rem;
    
    color: rgb(42, 45, 236);
    position: absolute;
    margin-left: 29px;
    cursor: pointer;
    
}
.contactbtn{
   width: 6rem;
   padding: 2px;
   border: 1px solid rgb(19, 55, 236);
   background-color: rgba(25, 125, 232, 0.852);
   color: rgb(240, 245, 249);
   border-radius: 5px;
}
.contactbtn:hover{
  
   transition: all 300ms ease;
   background-color: rgb(9, 134, 169);
   border: 1px solid rgb(9, 134, 169);
}
 .sch_name::before{
    content: "..";
    width: 20px;
    color: rgb(183, 0, 255);
    height: 2rem;
    margin-left: -12px;
    border-top: 4px solid rgb(0, 81, 255);
    border-left: 5px solid rgb(42, 109, 210);
    position:absolute; 
    
}
.sch_name::after{
    content: ".";
    width: 20px;
    height: 2rem;
   
    position: absolute;
    border-bottom: 4px solid rgb(0, 81, 255);
    border-right: 5px solid rgb(42, 109, 210);
    
} 

    .contactbtn{
       width: 6rem;
       padding: 2px;
       border: 1px solid rgb(19, 55, 236);
       background-color: rgba(25, 125, 232, 0.852);
       color: rgb(240, 245, 249);
       border-radius: 5px;
    }
    .contactbtn:hover{
      
       transition: all 300ms ease;
       background-color: rgb(9, 134, 169);
       border: 1px solid rgb(9, 134, 169);
    }
     .sch_name::before{
        content: "..";
        width: 20px;
        color: rgb(183, 0, 255);
        height: 2rem;
        margin-left: -12px;
        border-top: 4px solid rgb(0, 81, 255);
        border-left: 5px solid rgb(42, 109, 210);
        position:absolute; 
        
    }
    .sch_name::after{
        content: ".";
        width: 20px;
        height: 2rem;
       
        position: absolute;
        border-bottom: 4px solid rgb(0, 81, 255);
        border-right: 5px solid rgb(42, 109, 210);
        
    } 

.contactbtn{
   width: 6rem;
   padding: 2px;
   border: 1px solid rgb(19, 55, 236);
   background-color: rgba(25, 125, 232, 0.852);
   color: rgb(240, 245, 249);
   border-radius: 5px;
}
.contactbtn:hover{
  
   transition: all 300ms ease;
   background-color: rgb(9, 134, 169);
   border: 1px solid rgb(9, 134, 169);
}
 .sch_name::before{
    content: "..";
    width: 20px;
    color: rgb(183, 0, 255);
    height: 2rem;
    margin-left: -12px;
    border-top: 4px solid rgb(0, 81, 255);
    border-left: 5px solid rgb(42, 109, 210);
    position:absolute; 
    
}
.sch_name::after{
    content: ".";
    width: 20px;
    height: 2rem;
   
    position: absolute;
    border-bottom: 4px solid rgb(0, 81, 255);
    border-right: 5px solid rgb(42, 109, 210);
    
} 
/* main body */

.staff_comment{
    background-color: rgba(44, 46, 40, 0.386);
    text-align: center;
    font-size: 2rem ;
    z-index: 1;
}
.card_container{
    width: 100%;
    height: 140vh; 
    background-color: rgb(120, 219, 219);
  display: flex;
  background: linear-gradient(80deg,rgb(83, 83, 205),rgb(179, 99, 179));
   flex-direction: column;
  justify-content: space-around;
 
    
    
}
.card_row2{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    height: 40%;
    background-color: blue;
    place-self: center;
    align-self: center;
   
}
.card_row1{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    height: 40%; 
    background-color: antiquewhite;
    place-self: center;
    align-self: center;

}
.card{
  
    width: 30%;
    height: 100%;
    background-color: rgba(124, 124, 110, 0.751);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card_img{
    width: 56%;
    height: 50%;
    background-color: antiquewhite;
    border-radius: 50%;
    z-index: 4;
   margin-top:-3.5rem;
   background: url(ahans_images/sampl.jpg);
   background-size: cover;
   background-position: center;
   
   border: 2px maroon solid;
   
} 
 .six{
    background: url(ahans_images/sampl\ \(4\).jpg);
   background-size: cover;
   background-position: center;
 }                                                                               
 .two{
    background: url(ahans_images/sampl\ \(1\).jpg);
   background-size: cover;
   background-position: center;
 }                                                                               
 .three{
    background: url(ahans_images/sampl\ \(2\).jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: scroll;
 }                                                                               
 .four{
    background: url(ahans_images/sampl\ \(3\).jpg);
   background-size: cover;
   background-position: center;
 }                                                                               
 .five{
    background: url(ahans_images/sampl.jfif);
   background-size: cover;
   background-position: center;
 }                                                                               
.card a img{
    width:1.7rem;
    height: 1.7rem;
margin-top: 2rem;
}
.card span{
    font-weight: 900;
   margin-top: 2rem;
   font-family:'Lucida Sans';
   color: aliceblue;
}
.card p{
    font-size: 16px;
    font-weight: 300;
    font-family: sans-serif;
    color: rgb(9, 20, 179);
}